<%= render 'shared/nav' %>

<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1'>Edit Your Account Information</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
      <!-- multipart => true as part of carrierwave -->
      <%= devise_error_messages! %>
      <%= f.label :username, class: 'form-text' %><br />
      <%= f.text_field :username, autofocus: true %>
      <%= f.label :email, class: 'form-text' %><br />
      <%= f.email_field :email, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.label :password, "New password (leave blank if you don't want to change it)", class: 'form-text' %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password_confirmation, "New password confirmation", class: 'form-text' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <!-- To upload new avatar -->
      <div class='form-text'>
        Change your avatar: <br><br>
      <%= f.file_field :avatar %>
      </div>

      <!-- Display current avatar -->
      <div><%= image_tag(current_user.avatar.url(:large_avatar)) %></div><br>
      <!-- Change your blurb -->
      <p class='form-text'>Edit your blurb:</p>
      <%=f.text_area :blurb %><br />
      <!-- Add of remove interests -->
      <p class='form-text'>Add or remove interests: </p>
      <%= render 'enter_interests', f: f %><br>

      <!-- Enter password to confirm changes -->
      <p class='header-1'>Please enter your current password to make changes and update your account</p>
      <%= f.password_field :current_password, autocomplete: "off" %>

      <div><%= f.submit "Update Account", class: 'button [radius round]' %></div>
    <% end %>

    <h3 class='header-1'>Cancel my account</h3>

    <p class='form-text'>Unhappy? Click this button to say goodbye to Photo-Mixer and all of your stuff. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button [radius round]' %></p>
  </div>
</div>
