<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 class="photo-mixer"><%= link_to'Photo-Mixer', images_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
 </nav>

<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1'>Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :username, class: 'form-text' %><br />
      <%= f.text_field :username, autofocus: true %>
      <%= f.label :email, class: 'form-text' %><br />
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :password, class: 'form-text' %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password_confirmation, 'Confirm Password', class: 'form-text' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <!-- To upload new avatar -->
      <div class='form-text'>
      <p>Choose an Avatar (optional): </p>
      <%= f.file_field :avatar %></div><br />

      <p class='form-text'>Add an interest to view photos you find interesting (optional): </p>
      <%= render 'enter_interests', f: f %>

      <div><%= f.submit "Sign up", class: 'button [radius round]' %></div>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
