<%= render 'shared/nav' %>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <h3 class= 'header-1'> <%= @image.caption %> </h3>
      <%= image_tag(@image.image_path.url) %>
    <br>
    <br>
    <p class='form-text'>
      by <%= link_to @image.user.username, profile_path(@image.user.id) %>
      | uploaded: <%= time_ago_in_words(@image.created_at) %> ago
      | tags: <%= raw @image.categories.map { |cat| link_to cat.name, category_path(cat) }.join(', ') %>
    </p>
    <p class='image-byline'>
    <%= render 'shared/byline', votable: @image %>
    <% if user_signed_in? %>
      <% if @favorite.present? %>
        <p data-image= <%= @image.id %> data-favorite= <%= @favorite.id %> id="favorite-button"   class="favorite button round">
          ★
        </p>
      <% else %>
        <p data-image= <%= @image.id %> id="favorite-button" class='button round'>
          ★
        </p>
      <% end %>
    <% end %>
    </p>

    <% if user_signed_in? && @image.user_id == current_user.id %>
      <%= link_to 'edit image', edit_image_path(@image) %>
    <% end %>


    <h3 class='header-1'>Comments</h3>

    <% if user_signed_in? %>
      <form id="new-comment" action="/images/<%=@image.id%>/comments">
        <textarea id="comment-body"></textarea>
        <input type="submit" id='button'>
      </form>
    <% end %>

    <%= render 'shared/comments' %>
  </div>
</div>
