<%= render 'shared/nav' %>
<h3><%= @image.caption %></h3>
<p>
  by <%= @image.user.email %>
  | <%= time_ago_in_words(@image.created_at) %>
</p>
  <%= image_tag(@image.image_path.url) %>
<br>
<br>
<%= pluralize(@image.score, 'point') %>
<%= render 'shared/byline', votable: @image %>
<% if @favorite.present? %>
  <button data-user= <%= current_user.id %> data-favorite= <%= @favorite.id %> id="favorite-button" class="favorite">Favorite</button>
<% else %>
  <button data-user= <%= current_user.id %> id="favorite-button">Favorite</button>
<% end %>


<h3>Comments</h3>

<% if user_signed_in? %>
  <form id="new-comment" action="/images/<%=@image.id%>/comments">
    <textarea id="comment-body"></textarea>
    <input type="submit">
  </form>
<% end %>

<div id="comments">
  <% @comments.each do |comment| %>
    <div data-score=<%= comment.score %> class="comment">
      <hr>
        <p>
          <%= pluralize(comment.score, 'point') %>
          by <%= comment.user.email %>
          <%= time_ago_in_words(comment.created_at) %> ago
          <%= render 'shared/byline', votable: comment %>
        </p>
        <%= simple_format(comment.body) %>
    </div>
  <% end %>
</div>
