<div class= "vote">
  <% if user_signed_in? %>
      <div class='points'>
        | <%= pluralize(votable.score, 'point') %>
      </div>
      | <a data-direction= <%= votable.get_vote_direction(current_user) %> <class= "upvote" + <%= votable.get_vote_direction(current_user) %> id="upvote" href=<%= "/#{votable.class.name.downcase.pluralize}/#{votable.id}/vote" %>>Upvote</a>
      | <a data-direction= <%= votable.get_vote_direction(current_user) %> <class= "downvote" + <%= votable.get_vote_direction(current_user) %> id="upvote" href=<%= "/#{votable.class.name.downcase.pluralize}/#{votable.id}/vote" %>>Downvote</a>
  <% end %>
</div>
