<div id="comments">
  <% @comments.each do |comment| %>
    <div data-score=<%= comment.score %> class="panel comment">
      <%= simple_format(comment.body) %>
      <p id='byline'>
        <%= image_tag(current_user.avatar.url(:small_avatar)) %>
        by <%= link_to comment.user.username, profile_path(comment.user.id) %>
        <%= time_ago_in_words(comment.created_at) %> ago
        | <%= pluralize(comment.score, 'point') %>
        <%= render 'shared/byline', votable: comment %>
      </p>
    </div>
  <% end %>
</div>
