<%= render 'shared/nav' %>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1 text-center'>Public Gallery</h1>
    <a data-dropdown="drop1" class="button dropdown">Filter By</a><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown">
      <li><%= link_to "most recent", filter: "most_recent" %></li>
      <li><%= link_to "today", filter: "today" %></a></li>
      <li><%= link_to "this week", filter: "this_week" %></li>
      <li><%= link_to "all time", filter: "all_time" %></li>
    </ul>
  </div>
</div>

<div id='tag_cloud'>
  <% tag_cloud Image.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <ul class='view-images small-block-grid-3 medium-block-grid-4 large-block-grid-5'>
      <% @images.each do |image| %>
        <% if user_signed_in? && image.user == current_user %>
          <li> <%= link_to image_tag(image.image_path.url(:thumb)), edit_image_path(image) %></li>
        <% else %>
          <li><%= link_to image_tag(image.image_path.url(:thumb)), image_comments_path(image) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

