<div data-score={{score}} data-created-at={{created_at_int}} class="panel comment">
  <p>
    {{{body}}}
  </p>
  <p id="byline">
    <img src={{avatar_url}}>
    by <a href= {{profile_link}}>{{username}}</a>
    {{time_ago}} ago
    <span class='vote'>
      <span class='points'>
        | {{score}} points
      </span>
      | <a data-direction="neutral" href="/comments/{{id}}/vote">Upvote</a>
      | <a data-direction="neutral" href="/comments/{{id}}/vote">Downvote</a>
    </span>
  </p>
</div>
