<div data-score={{score}} data-created-at={{created_at_int}} class="panel comment">
  <p>
    {{{body}}}
  </p>
  <p id="byline">
    <img src={{avatar_url}}>
    by <a href= {{profile_link}}>{{username}}</a>
    {{time_ago}} ago
    | {{score}} points
    <b>
      | <a data-method="patch" href={{upvote_link}} rel="nofollow">Upvote</a>
    </b>
    | <a data-method="patch" href={{downvote_link}} rel="nofollow">Downvote</a> |
  </p>
</div>
