<%= render 'shared/nav' %>

<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1'> <%= @user.username %>'s Profile</h1>
  </div>
</div>

<div class='row'>
  <div class='profile-row1 small-11 small-centered columns'>
    <div class='row'>
      <div class='large-4 columns'>
        <div class='th'><%= image_tag(current_user.avatar.url(:large_avatar)) %></div>
      </div>
      <div class='large-4 columns'>
          <p class='blurb'> <%= @user.blurb %> </p>
      </div>
      <div class='large-4 columns'>
        <div class='stats'>
          <h4 class='gray'>Member Stats</h4>
          <ul>
            <li>Joined Photo-Mixer: <%= time_ago_in_words(@user.created_at) %> ago </li>
            <li>Images uploaded: <%= @uploaded_images.length %></li>
            <li>Comments made: <%= @comments.length %> </li>
            <li>Total score: <%= @user.uploaded_images.map(&:score).reduce(:+)%> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='small-11 small-centered columns'>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel2-1">Images</a></li>
      <li class="tab-title"><a href="#panel2-2">Comments</a></li>
      <li class="tab-title"><a href="#panel2-3">Favorites</a></li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <div class='small-11 small-centered columns'>
        <ul class="view-images small-block-grid-3 medium-block-grid-4 large-block-grid-5">
          <% @uploaded_images.each do |image| %>
            <li><%= link_to image_tag(image.image_path.url(:thumb)), image_comments_path(image) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="content" id="panel2-2">
      <div class='small-11 small-centered columns'>
        <%= render 'shared/comments' %>
      </div>
    </div>
    <div class="content" id="panel2-3">
      <div class='small-11 small-centered columns'>
        <ul class="view-images small-block-grid-3 medium-block-grid-4 large-block-grid-5">
          <% @favorite_images.each do |image| %>
            <li><%= link_to image_tag(image.image_path.url(:thumb)), image_comments_path(image) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--___________________________________________________-->
