<%= render 'shared/nav' %>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1 text-center'>Gallery</h1>
  </div>
</div>
<%= search_form_for @q do |f| %>
  <%= f.label :caption_cont %>
  <%= f.search_field :caption_cont %>
  <%= f.submit %>
<% end %>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <ul class='view-images small-block-grid-3 medium-block-grid-4 large-block-grid-5'>
      <% @images.each do |image| %>
        <li> <%= link_to image_tag(image.image_path.url(:thumb)), image_comments_path(image) %>
        </li>
      <%end%>
    </ul>
  </div>
</div>




