<%= render 'shared/nav' %>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1'>Upload a New Image</h1>

    <%= form_for @image, html: {  multipart: true, class: 'upload-form' } do |f| %>
        <%= f.file_field :image_path %>
        <%= f.label :caption, 'Enter a title or caption for your image:', class: 'form-text' %>
        <%= f.text_field :caption %>
        <%= f.label :tag_list, 'Tags (separated by commas)', class: 'form-text' %>
        <%= f.text_field :tag_list %>
        <%= f.submit class: 'button [radius round]' %>
    <% end %>
  </div>
</div>

