<h2>Create new Image</h2>

<%= form_for @image do |f| %>
  <div>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>


    <div>
  Upload an Image:
  <%= f.file_field :url %>
  </div>



  <%= f.submit %>
<% end %>


