<%= render 'shared/nav' %>
<h1>Create new Image</h1>

<%= form_for @image, html: {  multipart: true } do |f| %>
  <div>
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>
    <div>
  Upload an Image:
  <%= f.file_field :image_path %>
  </div>
  <%= f.submit %>
<% end %>


