<%= render 'shared/nav' %>
<div class='row'>
  <div class='small-11 small-centered columns'>
    <h1 class='header-1'>Create new Image</h1>

    <%= form_for @image, html: {  multipart: true, class: 'upload-form' } do |f| %>
      <div>
        <%= f.file_field :image_path %>
      </div>
      <div>
        <%= f.label :caption %>
        <%= f.text_field :caption %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

